@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
    background-color: black;
}

.stars {
	background-image: url(../img/stars.svg);
	height: 100vh;
    width: 100%; 
    position: absolute;
    -webkit-animation: stars-scale 20s infinite alternate;
	animation: stars-scale 20s infinite alternate;
}



@-webkit-keyframes stars-scale {

	0% {
		-webkit-transform: scale(1,1);
	}

	100% {
		-webkit-transform: scale(1.5,1.5);
	}

}

@keyframes stars-scale {

	0% {
		transform: scale(1,1);
	}

	100% {
		transform: scale(1.5, 1.5);
	}

}
.asteroid {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 200px;
    animation: asteroid-rotate 10s ease-in-out infinite;
    -webkit-animation: asteroid-rotate 10s ease-in-out infinite;
}

@-webkit-keyframes asteroid-rotate {

	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}

}

@keyframes asteroid-rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}


.ship {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 200px;
    -webkit-animation: bounce 5s ease-in-out infinite;
    animation: bounce 5s ease-in-out infinite;
}

@-webkit-keyframes bounce {
    
    0% {
        -webkit-transform: translateY(0);
    }
    
    50% {
        -webkit-transform: translateY(100px);
    }
     
    65% {
        -webkit-transform: translateX(-55px);
        -webkit-transform: rotate(95deg);
    }
    
    75% {
        -webkit-transform: translateY(75px);
    }
    
    88% {
        -webkit-transform: translateX(100px);
    }
    
    95% { 
        -webkit-transform: translateY(100px);
    }
    
    100% { 
        -webkit-transform: translateY(0);
    }
    
}

@keyframes bounce {
    
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(100px);
    }
     
    65% {
        transform: translateX(-55px);
        transform: rotate(95deg);
    }
    
    75% {
        transform: translateY(75px);
    }
    
    88% {
        transform: translateX(100px);
    }
    
    95% { 
        transform: translateY(100px);
    }
    
    100% { 
        transform: translateY(0);
    }
    
}

    