@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
    background-color: black;
}

.stars {
	background-image: url(../img/stars.svg);
	height: 100vh;
    -webkit-animation: stars-scale 20s infinite alternate;
	animation: stars-scale 20s infinite alternate;
}



@-webkit-keyframes stars-scale {

	0% {
		-webkit-transform: scale(1,1);
	}

	100% {
		-webkit-transform: scale(2,2);
	}

}

@keyframes stars-scale {

	0% {
		transform: scale(1,1);
	}

	100% {
		transform: scale(2,2);
	}

}
.asteroid {
    position: absolute;
    width: 200px;
    height: 150px;
    top: 200px;
    animation: asteroid-rotate 10s ease-in-out infinite;
    -webkit-animation: asteroid-rotate 10s ease-in-out infinite;
}

@keyframes asteroid-rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@-webkit-keyframes asteroid-rotate {

	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}

}


.star-destroyer {
    